@charset "utf-8";

/*  icones de tecnologias  */
#tec-list img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    filter: invert(38%) sepia(87%) saturate(50%) hue-rotate(180deg) brightness(30%) contrast(90%);
    transition: 0.5s ease;
}

/* Tipografia */
#main-title {
    font-family: 'poppins';
    font-weight: 200;
    font-style: normal;
}

#subtitle {
    font-family: 'roboto';
    font-weight: 350;
    font-style: normal;
}

#welcome {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;     
    white-space: nowrap;     
    overflow: hidden;      
    width: 0;             
    margin: 50px auto;    
    animation: typing 3s steps(15, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 15ch; }
}



.contact-title {
    font-family: 'poppins';
    font-weight: 200;
    font-style: normal;
}

.send-me {
    font-family: 'roboto';
    font-weight: 350;
    font-style: normal;
}

#name-title {
    font-family: 'poppins';
    font-weight: 300;
    font-style: bold;
}

#email-title {
    font-family: 'poppins';
    font-weight: 300;
    font-style: bold;
}

#message-title {
    font-family: 'poppins';
    font-weight: 300;
    font-style: bold;
}

/* Foto de perfil */
#perfil-photo {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(176, 176, 230);
    cursor: pointer;
    transition: 0.5s ease;
}

#perfil-photo:hover {
    transform: translateY(-5px);
}

/* Lista de tecnologias */
#tec-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}

#tec-list li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    transition: 0.5s;
    cursor: pointer;
}

#tec-list li:hover img {
    filter: none;
    transform: translateY(-2px);
}
/* Hover das tecnologias */
#vscode:hover {background: #a3c6d3; }
#html5:hover {background: #e4c6b3; }
#css:hover { background: #b0cde0; }
#git:hover { background: #e3c4b7; }
#java:hover { background: #ecd9b3; }
#intellij:hover { background: #d6aad8; }
#cpp:hover { background: #a8c8e3; }
#python:hover { background: #bcd6e7; }
#pandas:hover { background: #c7bbe0; }
#linux:hover { background: #ede2b0; }
#spring:hover { background: #c8e8b4; }

/* Header */
.main-header {
    text-align: center;
}

#title-project {
    text-align: center;
    font-family: 'poppins';
    font-weight: 250;
    font-style: normal;
}

/* Projetos */
#vision, #engrenage, #book {
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 50%;
    border-style: inset;
    border-width: 5px;
}

#vision { background-color: #f0c4b8; border-color: #d59a7c; }
#engrenage { background-color: #d3dce3; border-color: #a8bcd2; }
#book { background-color: #f0e5b8; border-color: #d4c97c; }

#vision:hover { background-color:#e6b09c; transform: scale(1.03); }
#engrenage:hover { background-color: #bfcad8; transform: scale(1.03); cursor: pointer; }
#book:hover { background-color:#e6dd9c; transform: scale(1.03); cursor: pointer; }

.projects {
    margin: auto;
    margin-top: 30px;
    display: flex;
    gap: 200px;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    text-align: center;
    gap: 15px;
    background-color: #f8f8f8; /* cinza suave */
    height: 320px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 5px 7px #767472;
    transition: 0.7s ease, box-shadow 0.3s ease;
    font-weight: 300;
    font-style: normal;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 3px 7px #767472;
    cursor: pointer;
}

.project-title {
    font-family: 'poppins';
    font-weight: 350;
}

.project-subscribe {
    font-family: 'roboto';
    font-weight: 250;
    font-style: bold;
}

/* Contatos */
#whatsapp, #linkedin, #github {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    transition: 0.7s ease;
}

#whatsapp:hover, #linkedin:hover, #github:hover {
    transform: translateY(-5px);
}

footer {
    display: flex;
    flex-direction: column;
    margin: 90px auto 0;
    list-style: none;
    text-align: center;
    padding: 20px;
}

footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
}

footer .contact li {
    margin: 0;
}

/* Form */
.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    align-items: baseline;
}

::placeholder {
    text-align: center;
}

#message{
    border-radius: 10px;
    width: 420px;
    box-shadow: 2px 2px 2px rgb(186, 184, 198);
}

#name-user, #email-user {
    border-radius: 10px;
    width: 420px;
    height: 30px;
    box-shadow: 2px 2px 2px rgb(186, 184, 198);
}

#btn-send{
    padding: 10px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(186, 184, 198);
    transition: 0.2 ease;
}

#btn-send:hover{ cursor: pointer; background-color: #cfc9c6; }
#btn-send:active{ transform: translateY(1px); }

